<!DOCTYPE html>
<html>
  <head>
    <title>Scott Dupoy</title>
    <meta name="description" content="Scott Dupoy">
    <meta name="author" content="Scott Dupoy">
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style/main.css"></link>
  </head>
  <body>
    <!--
    <div class='main'>
        <div class='content'>
        coming<br/>
        soon
        </div>
    </div>
    -->
  </body>
</html>

